@use "@/styles" as *;

.input {
  @include input;
}
.error {
  @extend .input;
  border: 1px solid color(danger);
}
.label {
  display: flex;
  flex-direction: column;
  gap: calc(spacing(xs) - 0.25rem);
  font-size: font-size(sm);
  font-family: font-family(body);
  color: color(primary-40-tint);
  font-weight: font-weight(ss-normal);
  position: relative;
}
.dateIcon {
  position: absolute;
  right: 10px;
  bottom: 40px;
  pointer-events: none;
}
.errorWrap {
  background-color: color(light-red);
  padding: 0.375rem 0.5rem;
  border-radius: border-radius(sm);
}
.errorLabel {
  font-size: font-size(xs);
  font-family: font-family(body);
  color: color(danger);
  font-weight: font-weight(ss-medium);
}
