@use "./function" as *;

@mixin maxWidth($arg) {
  @media screen and (max-width: $arg) {
    @content;
  }
}

@mixin minWidth($arg) {
  @media screen and (min-width: $arg) {
    @content;
  }
}

@mixin maxHeight($arg) {
  @media screen and (max-height: $arg) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

@mixin input {
  padding: 1rem;
  border-radius: border-radius(sm);
  border: 1px solid color(ss-border);
  background-color: color(ss-white);
  font-size: font-size(base);
  font-family: font-family(body);
  color: color(primary-40-tint);
  font-weight: font-weight(ss-normal);
  outline: none;
  height: 3.5rem;
  &::placeholder {
    color: color(placeholder);
  }
  &:disabled {
    opacity: opacity(60);
  }
  &:focus {
    border: 1px solid color(primary-40-tint);
  }
}

@mixin card {
  background-color: color(background-color);
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  padding: spacing(2xl);
}

@mixin td {
  padding: 0.6875rem 1rem;
  color: color(primary-0-tint);
  font-size: font-size(sm);
  font-family: font-family(body);
  font-weight: font-weight(ss-normal);
  border-bottom: 1px solid color(geyser);
}