$white: #FFFFFF;

$colors: (
  secondary-color-0-tint: #4BAA79,
  primary-0-tint: #2D416F,
  primary-60-tint: #ABB3C5,
  primary-40-tint: #818DA9,
  ss-white: #FFFFFF,
  ss-gray: #7E7E7E,
  light-red: #FCEEEE,
  light-green: #93CCAF,
  danger: #E05453,
  surface-green: #F3FFF1,
  ss-border: #E5E5E5,
  placeholder: #818DA9,
  background-color: $white,
  gray-2: #828282,
  surface: #F6F7F9,
  geyser: #CDE1E3,
  blur: #E2E2E2
);

$fontFamily: (
  body: --font-gilroy,
  heading: --font-gilroy,
  display: --font-gilroy,
  link: --font-poppins,
  numerals: --font-montserrat


);
$fontSize: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.875rem,
  4xl: 2.25rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl: 6rem,
  9xl: 8rem,
);
$spacing: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.875rem,
  4xl: 2.25rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl: 6rem,
  9xl: 8rem,
);
$fontWeight: (
  ss-light: 300,
  ss-normal: 400,
  ss-medium: 500,
  ss-semibold: 600,
  ss-bold: 700,
);
$borderRadius: (
  sm: 0.25rem,
);
$breakpoint: (
  xs: 475px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

$opacity: (
  0: 0,
  20: 0.2,
  40: 0.4,
  60: 0.6,
  80: 0.8,
  100: 1,
);
