@use "@/styles" as *;
.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.path {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: font-size(base);

  font-weight: font-weight(ss-bold);
  color: color(primary-60-tint);
  @media screen and (max-width: 768px) {
    font-size: font-size(sm);
    }
}
.activePath {
  color: color(primary-0-tint);
}
