@use '@/styles' as *;
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.p {
  color: color(danger);
  font-size: font-size(9xl);
  font-family: font-family(body);
}
