@use "@/styles" as *;

.dashboard {
  display: flex;
  height: 100vh;
  flex: 1;
}

.aside {
  flex-basis: 16.9rem;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  background-color: $white;
}
.main {
  @include container;
  flex: 1;
  height: 100%;
}
